
/* css begins from here */

html, body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: white;
  margin: 0;
  height: 100%;
  background-color: #000000;
}

.tag-line{
    margin: .2rem;
    font-size: .9rem;
    text-align: center;
    color: white;
}

.logo-container {
    align-content: center;
    width: 3.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tag-line:hover {
  color: red;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  height: 50px;
  padding: 1em;
  padding-bottom: 20px;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.menulink{
  margin: 1rem;
  color: white;
}

.menulink:link {
  text-decoration: none;
}

.current {
  color: blue;
}

.menulink:hover {
  text-decoration: none;
  color: red;
}


.banner {
  background-image: url("../images/abelroney.jpeg");
  background-color: #000000;
  height: 95%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.overlaybanner{
  background-image: linear-gradient(rgba(255, 255, 255, 0.123),rgba(0, 0, 0, 0.473),rgba(0, 0, 0, 0.589),rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.466), rgba(255, 255, 255, 0.123));
  height: 100%;
  align-items: center;
  
}

.bannertext {
  text-align: center;
  color: white;
  padding-top: 2rem;
}

.bannertitle{
  font-size: 5rem;
  margin-top: 10rem;
  margin-bottom: 1rem;
  margin-top: 0px;
}

.bannertag{
  font-size: 1rem;
}

.call{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.call:after {
  content: "\f879";
  font-family: FontAwesome;
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.call:hover{
  padding-right: 24px;
  padding-left:8px;
  background-color: red;
}

.call:hover:after {
  opacity: 1;
  right: 10px;
}

.call {
  border-radius: 4px;
  background-color: blue;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(117, 116, 116, 0.7);
}

.services{
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.service-tag {
  font-size: 2rem;
  text-align: center;
}

.service-image{
  text-align: center;
  width: 80%;
  height: 100%;
}

.action{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  margin-bottom: 2rem;
}

.action:after {
  content: "\f061";
  font-family: FontAwesome;
  position: absolute;
  opacity: 0;  
  top: 10px;
  right: -20px;
  transition: 0.5s;
  color: blue;
}

.action:hover{
  padding-right: 24px;
  padding-left:8px;
  background-color: red;
}

.action:hover:after {
  opacity: 1;
  right: 10px;
}

.action {
  border-radius: 4px;
  background-color: blue;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  padding: 10px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(117, 116, 116, 0.7);
}

footer{
  align-items: center;
  text-align: center;
}
.footerimage{
  margin-top: 3rem;
  width: 3.5rem;
}

/* about page css */

.about-section{
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.about-p{
  text-align: justify;
  
}

.team-tag {
  font-size: 2rem;
  text-align: center;
}

.about-image{
  text-align: center;
  width: 80%;
  height: 100%;
}

.our-team{
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.team-tag {
  text-align: center;
}

.team-image{
  text-align: center;
  width: 80%;
  height: 100%;
}

.action{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  margin-bottom: 2rem;
}

.action:after {
  content: "\f879";
  font-family: FontAwesome;
  position: absolute;
  opacity: 0;  
  top: 10px;
  right: -20px;
  transition: 0.5s;
  color: blue;
}

.action:hover{
  padding-right: 24px;
  padding-left:8px;
  background-color: red;
}

.action:hover:after {
  opacity: 1;
  right: 10px;
}

.action {
  border-radius: 4px;
  background-color: blue;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  padding: 10px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(117, 116, 116, 0.7);
}

/* contact page css */

.contact-section{
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.contact-p{
  text-align: justify;
}

input[type=text], select, textarea, input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.box {
  width: 40%;
  margin: 0 auto;
  padding-top: .8rem;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  padding: 10px 50px 10px 50px;
  font-size: 1em;
  color: white;
  background-color: blue;
  border: 2px solid blue;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: red;
  border: 2px solid red;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.5s;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.popup .pop-h2 {
  margin: 10px;
  margin-top: 0;
  padding-top: 2rem;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 16px;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: blue;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.container {
  border-radius: 5px;
  background-color: #000000;
  padding: 20px;
}

.gmap{
  width: 100%;
}

.location-section{
  width: 96%;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

@media screen and (min-width: 820px){
.bannertext{
  padding-top: 12rem;
}
.service-grid1 , .service-grid2 {
  align-content: center;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.service-image{
  text-align: center;
  width: 80%;
  height: 300px;
}
.desc{
  padding: 1rem;
}
.team-grid1 , .team-grid2 {
  align-content: center;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.team-image{
  text-align: center;
  width: 80%;
  height: 50%;
}
.contact-grid1 , .contact-grid2 {
  align-content: center;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.gmap{
  height: 400px;
  padding-bottom: 60px;
}
}